*{
    text-align: center;
}

body {
    background-color: #1a202b;
    color: #f5f6f7;
}

button { 
    font-size: 100px;
    background-color: #1a202b;
    border: none;
    border-radius: 100%;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }